<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="params_label">Visualization of topic model <%= tm_name %></h4>
</div>
<div class="modal-body">
  <%= data.html_safe %>
</div>