<div class="row">
    <div class="col-md-9">
        <h3>About the personal workspace</h3>
            This personal workspace gathers your datasets and saved searches, along with general information on the collection.
        <h4>Datasets</h4>
            This panel displays your datasets as a list and allows you to create a new empty one.
            You can add documents to your datasets in various places of this website (during a search, on a document page, etc).
            Clicking on a dataset will open its page, listing its documents along with various dataset manipulation tools and export options.
        <h4>Saved searches</h4>
            After a search on this website, you have the possibility to save it by giving it a name, allowing you to replay it from this panel.
            This can be useful to avoid configuring facets and filters again and again.
        <h4>Experiments</h4>
            This is the panel dedicated to the Personal Research Assistant (PRA), a tool to help you find information in the NewsEye collection.
            Clicking on the 'Experiment' button from the Datasets or Saved searches panels will start the PRA.
            A new entry in the Experiments panel is created and the PRA will automatically start various analysis tools on the selected data source.
            Because some of these tasks can take some time, you may have to click on the refresh button (<span class="glyphicon glyphicon-refresh"></span>) on the experiments panel to update the status of experiments.
            You also have the possibility to manually create an experiment, allowing you to choose and configure the analysis tools you want to run.
    </div>
</div>