<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="report_label">Description of topic <%= @topic_number %> from model <%= @model %></h4>
</div>
<div class="modal-body">
  <p><%= @topic %></p>
  <img src="data:image/png;base64,<%= @wordcloud %>"/>
</div>
<div class="modal-footer">
</div>