<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="params_label">Parameters for task <%= @task_uuid %></h4>
</div>
<div class="modal-body">
  <pre><%= JSON.pretty_generate @data %></pre>
</div>
<div class="modal-footer">
</div>