<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">Personal Research Assistant</div>
    <div class="panel-body">
      <form novalidate="novalidate" data-remote="true" action="/investigate" accept-charset="UTF-8" method="post">
        <%= csrf_meta_tags %>
        <div class="form-group col-md-6">
          <select name="dataset_invetigate_select" class="form-control">
            <option value="" disabled selected>Select your dataset</option>
            <%= options_for_select(@current_user.datasets.map(&:title)) %>
          </select>
        </div>
        <div class="form-group col-md-6">
          <input name="query" type="text" class="form-control" placeholder="Search for...">
        </div>
        <button type="submit" class="btn btn-primary">Investigate</button>
      </form>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">Topic modelling</div>
    <div class="panel-body">
      <form>
        <div class="form-group col-md-6">
          <select id="dataset_tm_select" class="form-control">
            <option value="" disabled selected>Select your dataset</option>
            <%= options_for_select(@current_user.datasets.map(&:title)) %>
          </select>
        </div>
        <div class="form-group col-md-6">
          <select id="model_tm_select" class="form-control">
            <option value="" disabled selected>Select the model to use</option>
            <option>model_1</option>
            <option>model_2</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">List topics</button>
      </form>
      <%#= select_tag(:dataset_tm, options_for_select(@current_user.datasets.map(&:title)), {id: 'dataset_tm_select', class: "selectpicker"}) %>
      <%#= select_tag(:model_tm, options_for_select(['model_1', 'model_2']), {id: 'model_tm_select', class: "selectpicker"}) %>
      <!--            <button class="btn btn-default" type="button">List topics</button>-->
    </div>
  </div>
</div>