<div class="row">
  <div id="panel_blocks" class="col-md-2">
    <h4>Blocks</h4>
    <div id="subnav">
      <div id="data_sources" class="navactive side">Data Sources</div>
      <div id="tools" class="navdisabled side">Tools</div>
    </div>

    <div class="blocklist">

      <div class="blockelem create-flowy">
        <div class="blockin">
          <div class="blockico">
            <img src="/assets/images/archive.svg">
          </div>
          <div class="blocktext">
            <p class="blocktitle">Dataset</p>
            <p class="blockdesc">Select one of your previously created dataset.</p>
          </div>
        </div>
      </div>

      <div class="blockelem create-flowy">
        <div class="blockin">
          <div class="blockico">
            <img src="/assets/images/search.svg">
          </div>
          <div class="blocktext">
            <p class="blocktitle">Search</p>
            <p class="blockdesc">Select one of your previously saved search.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-8">
    <div id="panel_canvas"></div>
  </div>
  <div id="panel_parameters" class="col-md-2">
  <h4>Properties</h4>
  </div>
</div>