<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <%= render 'tools' %>
  </div>
  <div class="row">
    <div class="col-sm">
      <%= render 'datasets' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm" id="tasks_column">
      <%= render 'tasks' %>
    </div>
  </div>
</div>