<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <%= render 'datasets' %>
    </div>
    <div class="col-sm-4">
      <%= render 'tools' %>
    </div>
    <div class="col-sm-4">
      <%= render 'tasks' %>
    </div>
  </div>
</div>