<div class="row">
  <div class="col-sm-12">
    <%= render 'personal_research_assistant/tasks' %>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= render 'datasets/datasets' %>
  </div>
  <div class="col-sm-6">
    <%= render 'saved_searches/saved_searches' %>
  </div>
</div>