<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Task UUIDs</h3></div>
  <div class="panel-body" style="height: 200px; overflow-y: scroll; padding: 0px;">
    <ul class="list-group" id="select_tasks_list">
      <% current_user.tasks.each do |task| %>
        <li class="list-group-item"><input type="checkbox" value=""> <%= task.uuid %></li>
      <% end %>
    </ul>
  </div>
</div>
<form id="compare_tasks_form" novalidate="novalidate" data-remote="true" action="/personal_research_assistant/analyse" accept-charset="UTF-8" method="post">
  <input type="hidden" name="tasks[]" />
  <button type="submit" class="btn btn-primary" name="submit">Compare tasks</button>
</form>