<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="report_label">Description of search "<%=  %>"</h4>
</div>
<div class="modal-body">
  <ul>
    <% results['result'].each do |res| %>
      <li><%= res['processor'] %></li>
    <% end %>
  </ul>
</div>
<div class="modal-footer">
</div>