<div class="container-fluid">
  <div style="display: none;" id="utilities"><%= @utilities.to_json %></div>
  <div style="display: none;" id="user_tasks_uuids"><%= @user_tasks_uuids.to_json %></div>
  <div class="row">
    <%= render 'tools' %>
  </div>
  <div class="row">
    <div class="col-sm" id="tasks_column">
      <%= render 'tasks' %>
    </div>
  </div>
</div>