<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h4 class="modal-title" id="params_label">Add an output</h4>
</div>
<div class="modal-body">
    <div id="node_type" style="display: none;"><%= node_type %></div>
    <div class="row">
        <div class="col-md-12">
            <div id="tools_grid">
            </div>
        </div>
    </div>
        <hr/>
    <div class="row">
        <div class="col-md-12">
            <div id="tool_content">
                <p style="font-weight: bold">Description</p>
                <p id="tool_description"></p>
                <p style="font-weight: bold">Parameters</p>
                <div id="tool_parameters">

                </div>
                <hr/>
                <div id="add_tool_button">
                    <button id="add_tool_button" type="button" class="btn btn-primary" style="float: right;">Add tool</button>
                </div>
            </div>
        </div>
    </div>
</div>
