<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h4 class="modal-title" id="params_label">Report</h4>
</div>
<div class="modal-body">
    <%= content['body'][0].html_safe %>
</div>
