<div id="main-footer" class="container-fluid">
  <hr/>
  <div class="row">
    <div class="col-sm">
      <%= image_tag "eu_flag_yellow.jpg", size: '112x75', style: "float: left;"%>
      <p style="width: 350px; margin-left: 20px; text-align: center;">
        This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 770299.
      </p>
    </div>
  </div>
</div>