<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="params_label">Keywords suggestion</h4>
</div>
<div class="modal-body">
  <div class="embedding_form">
    <form novalidate="novalidate" data-remote="true" action="/tools/query_embd_model" accept-charset="UTF-8" method="post" class="form-inline">
      <div class="form-row">
        <div class="form-group">
          <input type="text" class="form-control" name="word" placeholder="Type a word">
        </div>
        <div class="form-group">
          <select class="form-control" id="embd_model_select" name="language">
            <option value="fr">French</option>
            <option value="de">German</option>
            <option value="fi">Finnish</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" id="embd_limit" name="num_words">
            <option>10</option>
            <option>25</option>
            <option>50</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-info" data-disable-with="Searching...">Find similar</button>
        </div>
      </div>
    </form>
  </div>
  <div id="embedding_results"></div>
</div>
