<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="params_label">Platform Help</h4>
</div>
<div class="modal-body" style="text-align: center">
  <%= video_tag "/videos/ecir_demo_final.mp4", :size => "720x480", :controls => true %>
</div>
