<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h4 class="modal-title" id="params_label">Random sample</h4>
    <p>
        Please be aware that you will only see articles in this sample, not entire issues.
    </p>
</div>
<div class="modal-body">
    <div id="sample">

    </div>
</div>
