<div id="metadata_panel" class="panel panel-default">
    <div class="panel-heading">
        Metadata
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <% doc_presenter = index_presenter(@document) %>
            <% index_fields(@document).each do |field_name, field| -%>
                <% if should_render_index_field? @document, field %>
                        <p>
                            <span style="font-weight: bold"><%= render_index_field_label @document, field: field_name %></span>
                            <span><%= doc_presenter.field_value field_name %></span>
                        </p>
       <!--             <dt class="blacklight-<%#= field_name.parameterize %>"><%#= render_index_field_label @document, field: field_name %></dt>
                    <dd class="blacklight-<%#= field_name.parameterize %>"><%#= doc_presenter.field_value field_name %></dd>-->
                <% end -%>
            <% end -%>
        </dl>
    </div>
</div>
<div id="compound_article_panel" class="panel panel-default">
  <div class="panel-heading">
    <p style="display: inline;">Create a compound article</p>
    <label class="compound_article_switch" style="float: right;">
      <input id="compoundMode" type="checkbox" autocomplete="off">
      <span class="compound_article_slider"></span>
    </label>
  </div>
  <div class="panel-body">
    <p id="help_compound" style="display: none">Select different articles from the issue to merge them. Drag and drop elements from the list to change their order.</p>

    <hr style="display: none"/>

    <div id="text-popup"></div>
    <ul id="compound_list" class="list-group" style="display: none">
    </ul>

    <hr style="display: none"/>
    <button id="create_compound_button" class="btn btn-primary" style="display: none">Create</button>


  </div>
</div>
<div id="article_panel" class="panel panel-default" style="display: none">
  <div class="panel-body">

    <p id="article_text"></p>

  </div>
</div>


<% named_entities = get_named_entities_for_doc(@document.id) %>
<div id="named_entities" data-ne="<%= named_entities.to_json %>"></div>