/*
* === Header ===
*/

#header-navbar {
  background-color: lightgrey;
  height: 60px;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}

.navbar-right a {
  color: #2E2F30;
}

.navbar-inverse .navbar-nav > li > a {
  color: #000000;
}

.container-fluid {
  margin-left: 5%;
  margin-right: 5%;
}

li#locale_dropdown{
  position: relative;
  display: block;
}

li#locale_dropdown button{
  margin: 10px;
}

li#feedback_dropdown{
  position: relative;
  display: block;
}

li#feedback_dropdown button{
  margin: 10px;
}

li#help_modal{
  position: relative;
  display: block;
}

li#help_modal button{
  margin: 10px;
}

div#add_to_dataset_dropdown{
   position: relative;
   display: block;
 }

div#add_to_dataset_dropdown button{
  margin: 10px;
}

div.v-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

span.code-style {
  padding:0px 2px 0px 2px;
  background-color: whitesmoke;
  border-style: solid;
  border-width: 1px;
  font-family: 'Courier New', Courier, monospace;
  white-space: nowrap;
}
/*
 * Canvas Explore
 */
#canvas_container {
  height: 400px;
}
#select_np li.np_selected{
  font-weight: bold;
}

#kw_suggest_modal {
  margin-top: 8px;
  margin-bottom: 8px;
}
/*
 *
 */
//.dataset_info {
//  float: right;
//  height: 200px;
//}
.list-group-horizontal .list-group-item
{
  display: inline-block;
}
.list-group-horizontal .list-group-item
{
  margin-bottom: 0;
  margin-left:-4px;
  margin-right: 0;
  border-right-width: 0;
}
.list-group-horizontal .list-group-item:first-child
{
  border-top-right-radius:0;
  border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child
{
  border-top-right-radius:4px;
  border-bottom-left-radius:0;
  border-right-width: 1px;
}

div.in_datasets_list p,
div.in_datasets_list ul {
  display: inline;
}

.badge-primary {
  background-color: #3366ff;
}
.badge-info {
  background-color: #ff9933;
}
.badge-light {
  background-color: #9494b8;
}

#article_well {
    overflow-x: auto;
    white-space: nowrap;
}
#article_well [class*="col"]{
    display: inline-block;
    float: none;
}
.dataset_info {
  margin: 20px;
}

#search_menu_list li {
  display: inline;
  list-style: initial;
  float:right;
}